.scrolling-text-container {
  display: flex;
  justify-content: center; /* Centers the text */
  align-items: center;
  height: 100%;
  position: relative;
  width: 100%;}

.scrolling-text {
  position: absolute;
  white-space: nowrap;
  font-size: 20px;
  
  font-family: "avantgarde", sans-serif;
  line-height: 35px;

  
}
.scrolling-text::after {
  content: attr(data-text); /* Duplicate text */
  padding-left: 2rem; /* Add spacing */
}

.scrolling-text.left {
  animation: scrollLeft 40s linear infinite;
}

.scrolling-text.right {
  animation: scrollRight 40s linear infinite;
}

.scrolling-text.up {
  animation: scrollUp 30s linear infinite;
  transform-origin: right center;
  transform: rotate(-90deg) translateY(-100%);
  width: 100vh;
}

.scrolling-text.down {
  animation: scrollDown 30s linear infinite;
  transform-origin: left center;
  transform: rotate(-90deg) translateY(0%);
  width: 100vh;
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scrollRight {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes scrollUp {
  0% {
    transform: rotate(-90deg) translateY(-100%);
  }
  100% {
    transform: rotate(-90deg) translateY(0%);
  }
}

@keyframes scrollDown {
  0% {
    transform: rotate(-90deg) translateY(0%);
  }
  100% {
    transform: rotate(-90deg) translateY(-100%);
  }
}

@media (min-width: 768px) { /* Apply only on larger screens */
  .scrolling-text{
    font-size: 28px;
  
  }
  
}